{% extends "base.html" %}
{% load static %}
{% block title %}Ma page d'accueil{% endblock %}


{% block css %}{% static 'search_engine/css/home.css' %}{% endblock %}


{% block content %}





<div class="container">

  <div class="row">
    <div class="col-lg-12">

      <p>
        Un moteur de recherche capable de requêter un corpus de 2500 textes avec différentes méthodes entièrement développé par moi même (Alexandre Guillemine). Essayez !
        Le code utilisé pour construire les différents index est donné dans les autres onglets.
      </p>
      <p>
        Le code de cet application django est <a href="https://github.com/Yop-La/yopla">sur mon github </a>
      </p>
      <br>

      <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab" aria-controls="pills-home" aria-selected="true">Search engine</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">Code de construction de l'index</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Code de construction de l'index matriciel</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" id="pills-function-tab" data-toggle="pill" href="#pills_function" role="tab" aria-controls="pills_function" aria-selected="false">Fonctions de requêtage</a>
        </li>
      </ul>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <div class="row">
            <div class="col-lg-4">

              <form data-search-url="{% url 'search' %}">
                <div class="form-group">
                  <label for="requete">Tapez votre requête</label>
                  <input class="form-control" name = "requete" id="requete" placeholder="communist party">
                </div>

                <div class="form-group">
                  <label for="search-option">Search option</label>
                  <select class="form-control" id="search-option" name="search-option">
                    <option value='search_phrase'>Avec search_phrase</option>
                    <option value='binaire'>Index matriciel binaire</option>
                    <option value='tf'>Index matriciel tf</option>
                    <option value='tf_idf'>Index matriciel tf_idf</option>
                  </select>
                </div>

                <button type="button" id='search' class="btn btn-primary">Submit</button>
              </form>

            </div>

            <div class="col-lg-8"><h3>Résultats de la recherche (10 premiers textes)</h3><br>
              <table id="resTable" style="width: 100%;" class="table"></table>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="basic">
            <iframe src="{{notebook1}}"></iframe>


          </div>
        </div>
        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <iframe src="{{notebook2}}"></iframe>

        </div>
        <div class="tab-pane fade" id="pills_function" role="tabpanel" aria-labelledby="pills-function-tab">
          <iframe src="{{notebook3}}"></iframe>
          {{notebook3}}
        </div>
      </div>
    </div>


  </div>

  <div class="row">



  </div>

  {% endblock %}


  {% block javascript %}


  <script>
    $( document ).ready(function() {
      $("#search").click(function () {
        var form = $(this).closest("form");
        console.log(form.attr("data-search-url"));
        console.log(form.serialize());
        jQuery.ajax({
          url: form.attr("data-search-url"),
          data: form.serialize(),
          dataType: 'json',
          success: function (data) {

            jQuery("#resTable tr").remove();
            texts = data.res
            texts = texts.reverse()
            if(texts.length == 0){
              var table = document.getElementById("resTable");
              var row = table.insertRow(0);
              var cell1 = row.insertCell(0);
              cell1.innerHTML = 'Aucun résultat correspondant à votre requête';
            }
            texts.forEach(function(text){
              var table = document.getElementById("resTable");
              var row = table.insertRow(0);
              var cell1 = row.insertCell(0);
              cell1.innerHTML = text;
            })
            console.log(data);

          }
        });

      });

    });
  </script>

  {% endblock %}
